@using CodeEditorApp.Models.ViewModels
@model CodeEditorApp.Models.ViewModels.UserViewModel

@{
    Layout = "~/Views/UserHome/_Layout.cshtml";
    ViewBag.Title = "UserHomePage";
    ProjectViewModel NewProject = ViewBag.NewProject;
}
<script src="https://use.fontawesome.com/3e0cecfe87.js"></script>
<body>
    <!--UserHome body starts-->
    <div class="row container padding-for-container userhome-body ">
        <div class="col-md-2 project-list box-container scroll">
            <div class="document-list-icons">
                <!-- Create folder -->
                <span class="clickable-icon"><i data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-folder-close fa-2x" aria-hidden="true"><span class="hover-text">Create new folder</span></i></span>
                <!-- Move folder -->
                <span class="clickable-icon"><i data-toggle="modal" data-target="#myModal" class="fa fa-arrows fa-2x" aria-hidden="true"><span class="hover-text">Move folder</span></i></span>
                <!-- Trash -->
                <span class="clickable-icon"><i data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-trash fa-2x" aria-hidden="true"><span class="hover-text">Delete</span></i></span>
            </div>
            <div id="tree1">
                <!--Project folders and file tree starts-->
                @if (Model.RootFolder.Folders == null)
                {
                        <p>Database is empty</p>
                }
                else
                {
                    <ul id="tree2">
                        @foreach (CodeEditorApp.Models.ViewModels.FolderViewModel folder in Model.RootFolder.Folders)
                        {
                            <li>
                                <!--If the folder represents a project, create link project-->
                                @if (folder.IsSolutionFolder)
                                {
                                    @Html.ActionLink(folder.Name, "Index", "Project", new { projectID = @folder.ProjectID }, null)
                                }
                                else
                                {
                                    <a href="#">@folder.Name</a>
                                }

                                @ShowSubItems(folder.SubFolders)

                            </li>
                        }
                    </ul>
                }

                @helper ShowSubItems(List<CodeEditorApp.Models.ViewModels.FolderViewModel> folders)
                {
                    <ul>
                        @foreach (CodeEditorApp.Models.ViewModels.FolderViewModel folder in folders)
                        {
                            <li class="clickable-icon">
                                <!--If the folder represents a project, create link to project-->
                                @if (folder.IsSolutionFolder)
                                {
                                    @Html.ActionLink(folder.Name, "Index", "Project", new { projectID = @folder.ProjectID }, null)
                                }
                                else
                                {
                                    @folder.Name
                                }

                                @ShowSubItems(folder.SubFolders)

                                @if (folder.Files != null)
                                {
                                    <ul>
                                        @foreach (CodeEditorApp.Models.ViewModels.FileViewModel file in folder.Files)
                                        {
                                            <li class="clickable-icon" id="file-item" alt="@file.ID">
                                                <a>@file.Name@*@file.FileType.Extension</a>*@</a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
                    <!--Project folders and file tree ends-->
            </div>
        </div>

        <div class="col-md-9 project-table box-container scroll">
            <!-- Responsive table starts here -->
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody id="project-table-home">
                        @foreach (var item in Model.Projects)
                        {
                            <tr alt="@item.ID">
                                <td data-title="name-of-project">@Html.ActionLink(@item.Name, "Index", "Project", new { projectID = @item.ID }, null)</td>
                                <td data-title="project-owner">@item.Owner</td>
                            </tr>
                        }                      
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Hér er CreateProject aðgerð -->
        <div class="col-md-1 add-project box-container">
            <!-- Trigger the modal with a button -->    
            <span class="clickable-icon"><i data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-plus fa-3x" aria-hidden="true"></i></span>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header light-background">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title color-textcolor">Create new project</h4>
                        </div>
                        <div class="modal-body">
                            @{Html.RenderPartial("CreateProject", NewProject);}
                        </div>
                        <div class="modal-footer">
                            <button type = "button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/Scripts/js_modal.js")
}