<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CollabCode</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<!--The layout of the website for a person that is not logged in-->
<body class="container">
    <header class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header row">
                <img class="logo" src="../images/logo.png" alt="Mountain View" ">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Help", "Contact", "Home")
                </ul>
            </div>
        </div>
    </header>
    <!--the body of -->
    <div class="container row body-content">         
        @RenderBody()
    </div>

    <footer class="navbar navbar-fixed-bottom">
            @Html.ActionLink("About", "About", "Home")
            @Html.ActionLink("Help", "Contact", "Home")
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
