<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CollabCode</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<!--The layout of the website for a person that is not logged in-->
<body class="flex-layout">
    <header class="flex-header navbar navbar-">
            <div class="flex-header-left">
                <img class="logo" src="../images/logo.png" alt="Mountain View" style="width:100px;height:100px;">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="flex-header-right navbar">
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Help", "Contact", "Home")
            </div>
    </header>
    <!--the body of -->
    <div class="container body-content" id="background-main">
        @RenderBody()

    </div>

    <footer class="navbar navbar-inverse navbar-fixed-bottom flex-bottom">
            @Html.ActionLink("About", "About", "Home")
            @Html.ActionLink("Help", "Contact", "Home")
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
