@model CodeEditorApp.Models.ViewModels.MembershipViewModel


@using (Html.BeginForm("AddMember", "Project", FormMethod.Post, new { @class = "form-horizontal ", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add new member</h4>
        <p>@Model.ProjectID</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.ProjectID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add member" class="btn btn-default" />
            </div>
        </div>
    </div>
}
